# Virtual Environments (OS specific - never commit or transfer)
venv/
.venv/
venv_linux/
env/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files (user uploads)
media/

# Environment variables
.env

# IDE / OS specific
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
